AUTH_SECRET="enter here" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_TWITTER_SECRET=""
AUTH_TWITTER_ID=""

DATABASE_URL="" # Please add the prisma accelerate link
NEXT_PUBLIC_BACKEND_URL_LOCAL='http://localhost:8787'

